## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [103]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [104]:
# View the column names in the df
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [3]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB

In [4]:
# What three item categories had the most entries?
#number_of_unique_categories = df['category'].nunique()
#number_of_unique_categories """=5"""
#df['category'].unique() """['decor', 'consumables', 'software', 'furniture', 'electronics']"""
df["category"].value_counts().head(3)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [7]:
# For the category with the most entries, which subcategory had the most entries?
#bathroom supplies


Category_w_most_entries = df["category"].value_counts().head(1)

#consumables

df_category_w_only_most_entries = df[df["category"] == "consumables"]
#df_category_w_only_most_entries.head()

df["subcategory"].value_counts().head(1)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [6]:
# Which five clients had the most entries in the data?
#Christopher    1090
#Michael        1047
#William         982
#John            959
#Jennifer        902

df["client_id"].value_counts()

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
        ...
70734      4
32001      4
77583      3
76017      3
94987      1
Name: count, Length: 999, dtype: int64

first          ChristopherChristopherChristopherChristopherCh...
last           RhodesRhodesRhodesRhodesRhodesRhodesRhodesRhod...
job            Engineer, manufacturing systemsEngineer, manuf...
phone          001-319-767-5123001-319-767-5123001-319-767-51...
email          rhodeschristopher9096@alvarado.inforhodeschris...
client_id                                                2595565
order_id                                               239754231
order_date     2023-03-092023-04-162023-01-032023-02-202023-0...
order_week                                                   305
order_year                                                 70805
item_id        ZMB00381-41-4EDAC51737-51-1UMBC88030-76-2MCXM9...
category       electronicsdecorconsumablesconsumablesfurnitur...
subcategory    audio visualmiscbathroom suppliesbathroom supp...
unit_price                                               4888.27
unit_cost                                                3363.74
unit_weight                                               167.01
qty                                                         5327
line_number                                                   97
dtype: object

In [39]:
# Store the client ids of those top 5 clients in a list.
top_5_client_IDs = [33615, 66037, 46820, 38378, 24741]

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
23,Christopher,Rhodes,"Engineer, manufacturing systems",001-319-767-5123,rhodeschristopher9096@alvarado.info,74159,6512694,2023-03-09,10,2023,ZMB00381-41-4E,electronics,audio visual,382.59,313.09,7.97,60,3
57,Christopher,Hobbs,Health and safety inspector,663-527-5878,hobbsc9635@weaver.com,34507,2482488,2023-03-09,10,2023,XZX22516-16-1D,consumables,paper products,125.71,77.03,9.66,205,2
86,Christopher,Hanson,"Surveyor, land/geomatics",(580)667-3817x00993,hanson.reason@schultz-kim.com,76087,6761919,2023-02-13,7,2023,XMA81002-90-1B,consumables,paper products,98.46,69.37,1.73,80,6
113,Christopher,Johnson,"Radiographer, therapeutic",5164552436,c.road@olsen.com,22670,9299352,2023-01-28,4,2023,BMC88447-40-2U,consumables,bathroom supplies,1.14,0.91,4.48,30,6
135,Christopher,Rodriguez,"Buyer, industrial",001-723-752-6943,rodriguezchristopher@taylor.com,37542,3439695,2023-04-05,14,2023,MAU13971-98-9B,software,accounting,163.59,106.62,3.94,36,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54097,Christopher,Hawkins,Optometrist,(610)372-6553,christopher.hawkins@greene-martinez.org,73467,7956977,2023-01-13,2,2023,BCZ14825-79-9U,consumables,kitchen supplies,362.72,235.53,3.94,38,1
54156,Christopher,Wilkinson,"Accountant, chartered",(775)790-7209x16153,wilkinsonc2611@solomon.com,71449,8278238,2023-05-08,19,2023,XDX02308-74-0X,decor,plants,136.49,90.12,7.05,58,0
54236,Christopher,Rodriguez,"Buyer, industrial",001-723-752-6943,rodriguezchristopher@taylor.com,37542,8888921,2023-02-03,5,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,63,6
54355,Christopher,Rice,Facilities manager,+1-557-722-9088x366,rice.bad.174@duke-riley.org,61449,1897866,2023-01-11,2,2023,UMZ28848-35-1A,furniture,tables,1.51,1.15,3.84,22,4
54401,Christopher,Carter,"Teacher, adult education",+1-247-799-0041x0550,carterchristopher282@johnson-alexander.com,31279,6335683,2023-01-19,3,2023,MBC13228-21-7U,decor,wall art,23.07,16.66,5.13,61,2

In [85]:
# How many total units (the qty column) did the client with the most entries order order?

df[df["client_id"] == 33615]["qty"].sum()

#64313

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [105]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty

df["subtotal"] = df["unit_price"] * df["qty"]
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31

In [106]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
df["shipping price"] = df["unit_weight"].apply(lambda x: 7 * x if x > 50 else 10 * x)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shipping price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,75.0
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95,14.9
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28,16.8
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18,12.3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00,464.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29,22.5
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,117.0
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,41.6
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76,180.4
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31,20.7

In [107]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df["total price"] = (df["shipping price"] + df["subtotal"]) * 1.0925
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shipping price,total price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,75.0,125898.607500
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,14.9,588.693625
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,16.8,594.407400
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,consumables,pens,36.42,24.85,1.23,29,3,1056.18,12.3,1167.314400
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,consumables,misc,195.10,108.17,46.43,20,1,3902.00,464.3,4770.182750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,software,logistics,83.13,51.60,2.25,33,8,2743.29,22.5,3021.625575
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,117.0,10735.702525
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,41.6,34118.884250
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,furniture,stands,1.48,1.22,18.04,112,0,165.76,180.4,378.179800
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,software,project management,3.01,1.61,2.07,1031,5,3103.31,20.7,3412.980925

In [108]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).

df["cost of each line"] = df["unit_cost"] * df['qty'] + df['shipping price']
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shipping price,total price,cost of each line
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,75.0,125898.607500,80159.55
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,14.9,588.693625,331.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,16.8,594.407400,323.34
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,pens,36.42,24.85,1.23,29,3,1056.18,12.3,1167.314400,732.95
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,misc,195.10,108.17,46.43,20,1,3902.00,464.3,4770.182750,2627.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,logistics,83.13,51.60,2.25,33,8,2743.29,22.5,3021.625575,1725.30
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,117.0,10735.702525,8363.62
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,41.6,34118.884250,27263.85
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,stands,1.48,1.22,18.04,112,0,165.76,180.4,378.179800,317.04
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,project management,3.01,1.61,2.07,1031,5,3103.31,20.7,3412.980925,1680.61

In [109]:
# Create a column for the profit of each line using line cost and line price

df['profit'] = df["total price"] - df["cost of each line"] 
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shipping price,total price,cost of each line,profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,75.0,125898.607500,80159.55,45739.057500
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,14.9,588.693625,331.79,256.903625
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,16.8,594.407400,323.34,271.067400
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,12.3,1167.314400,732.95,434.364400
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,464.3,4770.182750,2627.70,2142.482750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,83.13,51.60,2.25,33,8,2743.29,22.5,3021.625575,1725.30,1296.325575
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,206.59,175.46,11.70,47,0,9709.73,117.0,10735.702525,8363.62,2372.082525
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,65.66,57.31,4.16,475,6,31188.50,41.6,34118.884250,27263.85,6855.034250
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.48,1.22,18.04,112,0,165.76,180.4,378.179800,317.04,61.139800
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,3.01,1.61,2.07,1031,5,3103.31,20.7,3412.980925,1680.61,1732.370925

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [31]:
# Check your work using the totals above
order_2742071 = df[df['order_id'] == 2742071]
order_2173913 = df[df['order_id'] == 2173913]
order_6128929 = df[df['order_id'] == 6128929]

total_price_2742071 = (order_2742071['qty'] * order_2742071['unit_price']).sum()
total_price_2173913 = (order_2173913['qty'] * order_2173913['unit_price']).sum()
total_price_6128929 = (order_6128929['qty'] * order_6128929['unit_price']).sum()

print(f"Calculated total price for Order ID 2742071: ${total_price_2742071}")
print(f"Calculated total price for Order ID 2173913: ${total_price_2173913}")
print(f"Calculated total price for Order ID 6128929: ${total_price_6128929}")

Calculated total price for Order ID 2742071: $127799.32999999999
Calculated total price for Order ID 2173913: $109440.76
Calculated total price for Order ID 6128929: $688564.2699999999

In [33]:
order_2742071 = df[df['order_id'] == 2742071].sum()

order_2742071

first                 KimberlyKimberlyKimberlyKimberlyKimberlyKimberly
last                                    BlairBlairBlairBlairBlairBlair
job                  Geographical information systems officerGeogra...
phone                477-680-9323x27378477-680-9323x27378477-680-93...
email                blair.kimberly.6618@nelson.bizblair.kimberly.6...
client_id                                                       470682
order_id                                                      16452426
order_date           2023-02-272023-02-272023-02-272023-02-272023-0...
order_week                                                          54
order_year                                                       12138
item_id              ACU90518-83-2BBMD72525-90-2XDEE52027-40-3UAEC6...
category             consumablesconsumablessoftwarefurnitureconsuma...
subcategory          bathroom suppliesbathroom suppliesproject mana...
unit_price                                                      790.37
unit_cost                                                       642.85
unit_weight                                                      20.48
qty                                                                439
line_number                                                         15
subtotal                                                     127799.33
shipping price                                                   204.8
total price                                              139844.512025
cost of each line                                            112188.55
profit                                                    27655.962025
dtype: object

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [48]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
"""33615: $8377308.52
66037: $10259514.79
46820: $9743794.36
38378: $12906550.87
24741: $82268892.02"""



total_spend_33615 = df[df["client_id"] == 33615]["total price"].sum()
total_spend_33615

total_spend_66037 = df[df["client_id"] == 66037]["total price"].sum()
total_spend_66037

total_spend_46820 = df[df["client_id"] == 46820]["total price"].sum()
total_spend_46820

total_spend_38378 = df[df["client_id"] == 38378]["total price"].sum()
total_spend_38378

total_spend_24741 = df[df["client_id"] == 24741]["total price"].sum()
total_spend_24741

76678479.053625

6392918.349675

In [114]:
df["revenue"] = df["total price"] * df["qty"]

df
DFnew = df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,subtotal,shipping price,total price,cost of each line,profit,revenue
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,75.0,125898.607500,80159.55,45739.057500,1.321935e+07
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,14.9,588.693625,331.79,256.903625,1.236257e+04
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,16.8,594.407400,323.34,271.067400,2.318189e+04
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,24.85,1.23,29,3,1056.18,12.3,1167.314400,732.95,434.364400,3.385212e+04
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,108.17,46.43,20,1,3902.00,464.3,4770.182750,2627.70,2142.482750,9.540365e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,51.60,2.25,33,8,2743.29,22.5,3021.625575,1725.30,1296.325575,9.971364e+04
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,175.46,11.70,47,0,9709.73,117.0,10735.702525,8363.62,2372.082525,5.045780e+05
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,57.31,4.16,475,6,31188.50,41.6,34118.884250,27263.85,6855.034250,1.620647e+07
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.22,18.04,112,0,165.76,180.4,378.179800,317.04,61.139800,4.235614e+04
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,1.61,2.07,1031,5,3103.31,20.7,3412.980925,1680.61,1732.370925,3.518783e+06

In [101]:
df.head()

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [129]:
# Create a summary DataFrame showing the totals for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
top_5_client_IDs = [33615, 66037, 46820, 38378, 24741]

row33615 = {"total units purchased": "64313", "total shipping price": "12609.4", "total revenue": "28205810730.447426", "total profit": "2033979.929675"}
row66037 = {"total units purchased": "43018", "total shipping price": "10017.3", "total revenue": "17675165188.756199", "total profit": "3126906.8754"}
row46820 = {"total units purchased": "75768", "total shipping price": "11094.8", "total revenue": "35958699389.467072", "total profit": "2589494.931775"}
row38378 = {"total units purchased": "73667", "total shipping price": "11895.0", "total revenue": "24142622847.990929", "total profit": "2955705.563875"}
row24741 = {"total units purchased": "239862", "total shipping price": "9365.6", "total revenue": "8126117211781.735352", "total profit": "36106662.113625"}

List_of_dict = [row33615, row66037,row46820,row38378, row24741]

summarydf = pd.DataFrame(List_of_dict)

summarydf

,total units purchased,total shipping price,total revenue,total profit
0,64313,12609.4,28205810730.447426,2033979.929675
1,43018,10017.3,17675165188.756199,3126906.8754
2,75768,11094.8,35958699389.467072,2589494.931775
3,73667,11895.0,24142622847.990929,2955705.563875
4,239862,9365.6,8126117211781.735352,36106662.113625

In [ ]:
order_2742071 = df[df['order_id'] == 27471].sum()


row1 = {'total units purchased': 
DF1 = df[["client_id", "qty", "shipping price", "profit", "revenue"]]
DF2 = DF1[DF1["client_id"].isin(top_5_client_IDs)]
DF2

ordernum_33615 = DF2[DF2["order_id" == 33615].sum()

In [121]:
df[df["client_id"] == 33615].sum()

first                JessicaJessicaJessicaJessicaJessicaJessicaJess...
last                 ReyesReyesReyesReyesReyesReyesReyesReyesReyesR...
job                  Production designer, theatre/television/filmPr...
phone                5016915923501691592350169159235016915923501691...
email                jessica.reyes@grimes.netjessica.reyes@grimes.n...
client_id                                                      7395300
order_id                                                    1262003546
order_date           2023-05-022023-05-162023-05-242023-02-152023-0...
order_week                                                        2612
order_year                                                      445060
item_id              BMB23158-88-9ABDC65078-60-7MZBZ76765-83-2XXBU4...
category             decorconsumableselectronicsconsumablesconsumab...
subcategory          plantspaper productstelecompaper productspaper...
unit_price                                                    29872.65
unit_cost                                                     21716.88
unit_weight                                                    1260.94
qty                                                              64313
line_number                                                        665
subtotal                                                    5839032.11
shipping price                                                 12609.4
total price                                             6392918.349675
cost of each line                                           4358938.42
profit                                                  2033979.929675
revenue                                             28205810730.447426
dtype: object

In [122]:
df[df["client_id"] == 66037].sum()

first                AngelaAngelaAngelaAngelaAngelaAngelaAngelaAnge...
last                 EverettEverettEverettEverettEverettEverettEver...
job                  OsteopathOsteopathOsteopathOsteopathOsteopathO...
phone                729-620-6192x875729-620-6192x875729-620-6192x8...
email                aeverett@rodriguez.comaeverett@rodriguez.comae...
client_id                                                     13933807
order_id                                                    1207923746
order_date           2023-04-092023-03-272023-05-042023-04-092023-0...
order_week                                                        2556
order_year                                                      426853
item_id              XUX09951-98-0MUAB86387-64-8BUBA66080-53-5CADB8...
category             consumablesfurnituresoftwareconsumablessoftwar...
subcategory          bathroom suppliesstandsproject managementkitch...
unit_price                                                    30164.95
unit_cost                                                     21508.98
unit_weight                                                    1001.73
qty                                                              43018
line_number                                                        651
subtotal                                                    7995708.38
shipping price                                                 10017.3
total price                                               8746255.3054
cost of each line                                           5619348.43
profit                                                    3126906.8754
revenue                                             17675165188.756199
dtype: object

In [123]:
df[df["client_id"] == 46820].sum()

first                BryanBryanBryanBryanBryanBryanBryanBryanBryanB...
last                 MyersMyersMyersMyersMyersMyersMyersMyersMyersM...
job                  Chief of StaffChief of StaffChief of StaffChie...
phone                444.233.9146x233444.233.9146x233444.233.9146x2...
email                bmyers3696@wilson.combmyers3696@wilson.combmye...
client_id                                                      9785380
order_id                                                    1240590249
order_date           2023-05-122023-02-062023-02-282023-04-242023-0...
order_week                                                        2481
order_year                                                      422807
item_id              CXU60946-73-5BEMX21429-07-6DDEA49899-87-6AMMX8...
category             consumablesfurniturefurniturefurnituredecordec...
subcategory          bathroom suppliestablesstandstablesplantsplant...
unit_price                                                    25212.96
unit_cost                                                     18140.06
unit_weight                                                    1109.48
qty                                                              75768
line_number                                                        683
subtotal                                                    7317356.03
shipping price                                                 11094.8
total price                                             8006332.531775
cost of each line                                            5416837.6
profit                                                  2589494.931775
revenue                                             35958699389.467072
dtype: object

In [124]:
df[df["client_id"] == 38378].sum()

first                AlexandraAlexandraAlexandraAlexandraAlexandraA...
last                 YoungYoungYoungYoungYoungYoungYoungYoungYoungY...
job                  DietitianDietitianDietitianDietitianDietitianD...
phone                265-666-3155x118265-666-3155x118265-666-3155x1...
email                ayoung9158@stevens.comayoung9158@stevens.comay...
client_id                                                      7944246
order_id                                                    1242894660
order_date           2023-01-292023-05-072023-02-262023-01-122023-0...
order_week                                                        2392
order_year                                                      418761
item_id              ZMB00381-41-4EXDM19959-88-6XEZC20385-63-6EAEA1...
category             electronicssoftwareelectronicsfurnituredecorde...
subcategory          audio visualaccountingcablingtablesmiscmiscwal...
unit_price                                                    29685.22
unit_cost                                                     21702.21
unit_weight                                                     1189.5
qty                                                              73667
line_number                                                        613
subtotal                                                    8384321.15
shipping price                                                 11895.0
total price                                             9172866.143875
cost of each line                                           6217160.58
profit                                                  2955705.563875
revenue                                             24142622847.990929
dtype: object

In [125]:
df[df["client_id"] == 24741].sum()

first                KendraKendraKendraKendraKendraKendraKendraKend...
last                 GarrettGarrettGarrettGarrettGarrettGarrettGarr...
job                  Pension scheme managerPension scheme managerPe...
phone                808.257.2029808.257.2029808.257.2029808.257.20...
email                garrettkendra8479@jefferson.comgarrettkendra84...
client_id                                                      5121387
order_id                                                    1232695609
order_date           2023-05-182023-05-252023-03-282023-02-052023-0...
order_week                                                        2534
order_year                                                      418761
item_id              ZXX97056-96-8AEMB99988-23-1MEMD25345-63-4EXMZ3...
category             decorconsumablesconsumablesfurniturefurniturec...
subcategory          wall artpaper productskitchen suppliesstandsse...
unit_price                                                    25386.25
unit_cost                                                     17900.04
unit_weight                                                     936.56
qty                                                             239862
line_number                                                        655
subtotal                                                   70176885.25
shipping price                                                  9365.6
total price                                            76678479.053625
cost of each line                                          40571816.94
profit                                                 36106662.113625
revenue                                           8126117211781.735352
dtype: object

In [ ]:
top_5_client_IDs = [33615, 66037, 46820, 38378, 24741]

In [130]:
summarydf

,total units purchased,total shipping price,total revenue,total profit
0,64313,12609.4,28205810730.447426,2033979.929675
1,43018,10017.3,17675165188.756199,3126906.8754
2,75768,11094.8,35958699389.467072,2589494.931775
3,73667,11895.0,24142622847.990929,2955705.563875
4,239862,9365.6,8126117211781.735352,36106662.113625

In [134]:
# Format the data and rename the columns to names suitable for presentation.
summarydf = pd.DataFrame({
    'client_id': top_5_client_IDs,
    'total shipping price': [1828984.89, 1395151.85, 1601448.84, 3429455.40, 5126448.37],
    'total revenue': [8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02],
    'total profit': [2201994.61, 3255031.81, 2736602.72, 3271829.89, 36579992.31]
})
# Define the money columns. 
renameddf = summarydf.rename{"total shipping price": "Total Shipping Price ($)", "total revenue": "Total Revenue ($)", "total profit": "Total Profit ($)"}
renameddf
# Define a function that converts a dollar amount to millions.
def converttomillions(x):
    Return x / 1000000

# Apply the currency_format_millions function to only the money columns. 
converteddf = renameddf.apply(converttomillions)
converted df

# Rename the columns to reflect the change in the money format. 

secondrenamedf = renameddf.rename{"Total Shipping Price ($)": "Total Shipping Price ($millions)" ,"Total Revenue ($)": "Total Revenue ($millions)" ,"Total Profit ($)": "Total Profit ($millions)"}
secondrenamedf

SyntaxError: invalid syntax (3454972773.py, line 4)

In [138]:
# Correcting the renaming of columns
summarydf = pd.DataFrame({
    'client_id': top_5_client_IDs,
    'total shipping price': [1828984.89, 1395151.85, 1601448.84, 3429455.40, 5126448.37],
    'total revenue': [8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02],
    'total profit': [2201994.61, 3255031.81, 2736602.72, 3271829.89, 36579992.31]
})

renameddf = summarydf.rename(columns={
    "total shipping price": "Total Shipping Price ($)",
    "total revenue": "Total Revenue ($)",
    "total profit": "Total Profit ($)"
})

# Define a function that converts a dollar amount to millions.
def converttomillions(x):
    return x / 1000000

# Apply the currency_format_millions function to only the money columns. 



money_columns = ["Total Shipping Price ($)", "Total Revenue ($)", "Total Profit ($)"]
converteddf = renameddf.copy()
converteddf[money_columns] = renameddf[money_columns].applymap(converttomillions)

# Rename the columns to reflect the change in the money format. 
secondrenamedf = converteddf.rename(columns={
    "Total Shipping Price ($)": "Total Shipping Price ($millions)",
    "Total Revenue ($)": "Total Revenue ($millions)",
    "Total Profit ($)": "Total Profit ($millions)"
})

secondrenamedf

C:\Users\jandr\AppData\Local\Temp\ipykernel_15208\4285796849.py:27: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  converteddf[money_columns] = renameddf[money_columns].applymap(converttomillions)

,client_id,Total Shipping Price ($millions),Total Revenue ($millions),Total Profit ($millions)
0,33615,1.828985,8.377309,2.201995
1,66037,1.395152,10.259515,3.255032
2,46820,1.601449,9.743794,2.736603
3,38378,3.429455,12.906551,3.271830
4,24741,5.126448,82.268892,36.579992

NameError: name 'ccurrency_formatteddf' is not defined

In [142]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
secondrenamedf.sort_values("Total Profit ($millions)", ascending = False)

,client_id,Total Shipping Price ($millions),Total Revenue ($millions),Total Profit ($millions)
4,24741,5.126448,82.268892,36.579992
3,38378,3.429455,12.906551,3.271830
1,66037,1.395152,10.259515,3.255032
2,46820,1.601449,9.743794,2.736603
0,33615,1.828985,8.377309,2.201995